﻿ul, li 
{
    margin: 0px;
    padding: 0px;
}


.myGrid 
{
    margin-top: 20px;
    min-height: 350px;
    display: flex;
}


.btn-primary 
{
    margin-top: 10px;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
}

.btn-secondary 
{
    width: 150px;
}

body {
    background-color: #ffb3b3;
}

.wrapper 
{
    display: flex;
    width: 100%;
    align-items: stretch;
}

.none 
{
    display: none;
}

form 
{
    margin-top: 20px;
}

.ui-grid-cell-contents 
{
    padding: 0px;
    text-align: center;
}

.currency 
{
    text-align: right;
}

    .currency .ui-grid-cell-contents:before 
    {
        content: '€';
        float: left;
        padding-left: 4px;
    }

.Header 
{
    height: 75px;
    padding: 0;
    margin: 0px;
}

.navbar 
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.Content 
{
    width: 100%;
    background-color: #ffb3b3;
    transition: all 0.3s;
    padding: 20px;
}

.nav-link {
    color: #fdfdfe;
}
.WhiteText {
    color: #fdfdfe;
}