﻿<style>
</style>

<div class="Content was-validated">
    <form data-toggle="validator" id="BookForm" name="BookForm" novalidate>
        <h2>Add new Book</h2>
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" id="Title" ng-model="vm.Title" placeholder="Enter Title" required data-error="Please enter Book Title.">
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            <input type="text" class="form-control" name="Author" id="Author" ng-model="vm.Author" placeholder=" Please enter Book Author" required>
        </div>

        <div class="form-group">
            <label for="Year">Year</label>
            <input type="number" class="form-control" name="Year" id="Year" ng-model="vm.Year" placeholder=" Please enter Book Year" required>
        </div>

        <div class="form-group">
            <label for="Amount">Amount</label>
            <input type="number" class="form-control" name="Amount" id="Amount" ng-model="vm.Amount" placeholder=" Please enter Book Amount" required>
        </div>

        <button type="submit" value="Submit" class="btn btn-primary" id="BtAddBook" ng-click="vm.AddNewBook()" ng-show="!vm.IsEditing"
                ng-disabled="BookForm.Title.$pristine || BookForm.Title.$invalid || BookForm.Author.$pristine || BookForm.Author.$invalid ||
            BookForm.Year.$pristine || BookForm.Year.$invalid || BookForm.Amount.$pristine || BookForm.Amount.$invalid">
            Add new Book
        </button>

        <button class="btn btn-primary" id="BtUpdateBook" ng-click="vm.UpdateBook()" ng-show="vm.IsEditing"
                ng-disabled="BookForm.Title.$invalid || BookForm.Author.$invalid || BookForm.Year.$invalid || BookForm.Amount.$invalid ">
            Update Book
        </button>
        <button class="btn btn-primary" ng-click="vm.ClearForm()">Clear</button>
    </form>
    <div class="table-responsive-sm myGrid ui-grid-cell-contents">
        <div ui-grid="vm.GridOptions" class="myGrid table table-hover table-light table-striped table-responsive-sm ui-grid-resize-columns"  id="GridBook"></div>
    </div>
</div>