﻿<style>
</style>

<div class="Content was-validated">
    <form data-toggle="validator" id="RoomForm" name="RoomForm" novalidate>
        <h2>Add new Room</h2>
        <div class="form-group">
            <label for="Code">Code</label>
            <input type="text" class="form-control" name="Code" id="Code" ng-model="vm.Code" placeholder="Enter Code" required data-error="Please enter Room Code.">
        </div>
        <div class="form-group">
            <label for="Color">Color</label>
            <input type="color" class="form-control" name="Color" id="Color" ng-model="vm.Color" placeholder=" Please enter Color Author" required>
        </div>

        <div class="form-group">
            <label for="Capacity">Capacity</label>
            <input type="number" class="form-control" name="Capacity" id="Capacity" ng-model="vm.Capacity" placeholder=" Please enter Room Capacity" required>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Accessibility" ng-model="vm.Accessibility">
            <label for="Accessibility">Room Accessibility for minusvalid persons</label>
        </div>

        <button type="submit" value="Submit" class="btn btn-primary" id="BtAddRoom" ng-click="vm.AddNewRoom()" ng-show="!vm.IsEditing"
                ng-disabled="RoomForm.Code.$pristine || RoomForm.Code.$invalid || RoomForm.Color.$pristine || RoomForm.Color.$invalid ||
            RoomForm.Capacity.$pristine || RoomForm.Capacity.$invalid">
            Add new Room
        </button>

        <button class="btn btn-primary" id="BtUpdateRoom" ng-click="vm.UpdateRoom()" ng-show="vm.IsEditing"
                ng-disabled="RoomForm.Code.$invalid || RoomForm.Color.$invalid || RoomForm.Capacity.$invalid">
            Update Room
        </button>
        <button class="btn btn-primary" ng-click="vm.ClearForm()">Clear</button>
    </form>
    <div class="table-responsive-sm myGrid ui-grid-cell-contents">
        <div ui-grid="vm.GridOptions" class="myGrid table table-hover table-light table-striped table-responsive-sm ui-grid-resize-columns"  id="GridRoom"></div>
    </div>
</div>