﻿<style>
</style>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" ng-init="vm.ShowView('users')">
    <a class="navbar-brand" ng-click="vm.ShowView('users')"  href="#">Crazy Tienda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown bg-dark">
                <a ng-click="vm.ShowView('users')" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USERS</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a href="#" ng-click="vm.ShowView('admins')" class="dropdown-item">ADMINS</a>
                    <a href="#" ng-click="vm.ShowView('members')" class="dropdown-item">MEMBERS</a>
                </div>
            </li>
            <li class="nav-item active">
                <a ng-click="vm.ShowView('rooms')" class="nav-link" href="#">ROOMS <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a ng-click="vm.ShowView('books')" class="nav-link" href="#">BOOKS <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a ng-click="vm.ShowView('lends')" class="nav-link" href="#">LENDS <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a ng-click="vm.ShowView('requests')" class="nav-link" href="#">REQUESTS <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
   
    <div class="WhiteText"> Hello {{vm.ShowUserName()}}</div>
</nav>