﻿<style>
</style>

<div class="Content was-validated">
    <form data-toggle="validator" id="AdminForm" name="AdminForm" novalidate>
        <h2>Add new Admin</h2>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" id="Name" ng-model="vm.Name" placeholder="Enter Name" required data-error="Please enter Admin Name.">
        </div>
        <div class="form-group">
            <label for="Surname">Surname</label>
            <input type="text" class="form-control" name="Surname" id="Surname" ng-model="vm.Surname" placeholder=" Please enter Admin Surname" required>
        </div>

        <div class="form-group">
            <label for="Email" ng-class="vm.EmailClass">Email address</label>
            <input type="email" class="form-control" name="Email" id="Email" ng-model="vm.Email" aria-describedby="emailHelp" placeholder="Please enter Admin email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="Password" ng-class="vm.PasswordClass">Password</label>
            <input type="password" class="form-control" name="Password" id="Password" ng-model="vm.Password" placeholder="Enter Password" required>
        </div>

        <button value="Submit" class="btn btn-primary" id="BtAddAdmin" ng-click="vm.AddNewAdmin()" ng-show="!vm.IsEditing"
                ng-disabled="AdminForm.Name.$pristine || AdminForm.Name.$invalid || AdminForm.Surname.$pristine || AdminForm.Surname.$invalid ||
            AdminForm.Email.$pristine || AdminForm.Email.$invalid || AdminForm.Password.$pristine || AdminForm.Password.$invalid">
            Add new Admin
        </button><!--type="submit"-->

        <button class="btn btn-primary" id="BtUpdateAdmin" ng-click="vm.UpdateAdmin()" ng-show="vm.IsEditing"
                ng-disabled="AdminForm.Name.$invalid || AdminForm.Surname.$invalid ||
            AdminForm.Email.$invalid || AdminForm.Password.$invalid">
            Update Admin
        </button>
        <button class="btn btn-primary" ng-click="vm.ClearForm()">Clear</button>
    </form>
    <div class="table-responsive-sm myGrid ui-grid-cell-contents">
        <div ui-grid="vm.GridOptions" class="myGrid table table-hover table-light table-striped table-responsive-sm ui-grid-resize-columns"  id="GridAdmin"></div>
    </div>
</div>