﻿        <div class="Content was-validated">
            <form data-toggle="validator" id="LoginForm" name="LoginForm" novalidate>
                <h2>Login</h2>

                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" name="Email" id="Email" ng-model="vm.Email" aria-describedby="emailHelp" placeholder="Enter your email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="Password" id="Password" ng-model="vm.Password" placeholder="Enter Password" required>
                </div>

                <button type="submit" value="Submit" class="btn btn-primary" id="Login" ng-click="vm.Login()"
                        ng-disabled="LoginForm.Email.$pristine || LoginForm.Email.$invalid ||
                LoginForm.Password.$pristine || LoginForm.Password.$invalid">
                    Login
                </button>

                <button class="btn btn-primary" id="ForgotPassword" ng-click="vm.ForgotPassword()">
                    Forgot Password
                </button>

                <button class="btn btn-primary" id="RedirectRegister" ng-click="vm.RedirectRegister()">
                    I am not registered
                </button>

                <button class="btn btn-primary" ng-click="vm.ClearForm()">Clear</button>
            </form>
        </div>