﻿<style>
</style>

<div class="Content">

    <form>
        <h2>Handle Lends</h2>


        <label for="SelectMember">Select a member:</label>
        <select class="form-control btn btn-primary" name="SelectMember" id="SelectMember"
                ng-options="member.ComposedName for member in vm.Members track by member.Id"
                ng-model="vm.SelectedMember"></select>

        <label for="SelectBook">Select a book:</label>
        <select class="form-control btn btn-primary" name="SelectBook" id="SelectBook"
                ng-options="book.ComposedName for book in vm.Books track by book.Id"
                ng-model="vm.SelectedBook"></select>



        <button type="button" value="Lend" ng-click="vm.RequestLend()"class="btn btn-primary"></button>
    </form>
    <div class="table-responsive-sm myGrid">
        <div ui-grid="vm.GridOptions" class=" collapse myGrid table table-hover table-light table-striped ui-grid-auto-resize" id="GridLend"></div>
    </div>
</div>

<!--FIDEL <form name="MyForm">
    Select Client
    <select ng-model="vm.SelectedClient" ng-options="client.Name for client in vm.Clients" required>
        <option value="" disabled selected>Select a Client</option>
    </select>
    Select Product
    <select ng-model="vm.SelectedProduct" ng-options="product.Name for product in vm.Products" required>
        <option value="" disabled selected>Select a Product</option>
    </select>
    <input class="text" type="text" ng-model="vm.Quantity" placeholder="Quantity" required>
    <input type="submit" value="Buy" id="AddButton" class="submit" ng-click="vm.CheckFormAdd(MyForm.$valid)" ng-show="!vm.IsEditing">
</form>-->
