﻿<style>
</style>

<div class="Content">
    <form>
        <h2>Handle Requests</h2>
        <div class="dropdown form-group">
            <label for="RequestUserName">Select User</label><br />
            <button class="btn btn-secondary dropdown-toggle" type="button" id="RequestUserName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Name
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">username1</a>
                <a class="dropdown-item" href="#">username2</a>
                <a class="dropdown-item" href="#">username3</a>
            </div>
        </div>
        <div class="dropdown form-group">
            <label for="RequestRoomName">Select Room</label><br />
            <button class="btn btn-secondary dropdown-toggle" type="button" id="RequestRoomName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Room Name
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Room1</a>
                <a class="dropdown-item" href="#">Room2</a>
                <a class="dropdown-item" href="#">Room3</a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Request</button>
    </form>
    <div class="table-responsive-sm myGrid">
        <div ui-grid="vm.GridOptions" class=" collapse myGrid table table-hover table-light table-striped ui-grid-auto-resize" id="GridRequest"></div>
    </div>
</div>