﻿<style>
</style>

<div class="Content was-validated">
    <form data-toggle="validator" id="MemberForm" name="MemberForm" novalidate>
        <h2>Add new Member</h2>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" id="Name" ng-model="vm.Name" placeholder="Enter Name" required data-error="Please enter Member Name.">
        </div>
        <div class="form-group">
            <label for="Surname">Surname</label>
            <input type="text" class="form-control" name="Surname" id="Surname" ng-model="vm.Surname" placeholder=" Please enter Member Surname" required>
        </div>

        <div class="form-group">
            <label for="Email" ng-class="vm.EmailClass">Email address</label>
            <input type="email" class="form-control" name="Email" id="Email" ng-model="vm.Email" aria-describedby="emailHelp" placeholder="Please enter Member email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="Password" ng-class="vm.PasswordClass">Password</label>
            <input type="password" class="form-control" name="Password" id="Password" ng-model="vm.Password" placeholder="Enter Password" required>
        </div>

        <button type="submit" value="Submit" class="btn btn-primary" id="BtAddMember" ng-click="vm.AddNewMember()" ng-show="!vm.IsEditing"
                ng-disabled="MemberForm.Name.$pristine || MemberForm.Name.$invalid || MemberForm.Surname.$pristine || MemberForm.Surname.$invalid ||
            MemberForm.Email.$pristine || MemberForm.Email.$invalid || MemberForm.Password.$pristine || MemberForm.Password.$invalid">
            Add new Member
        </button>

        <button class="btn btn-primary" id="BtUpdateMember" ng-click="vm.UpdateMember()"  ng-show="vm.IsEditing"
            ng-disabled="MemberForm.Name.$invalid || MemberForm.Surname.$invalid ||
            MemberForm.Email.$invalid || MemberForm.Password.$invalid ">
            Update Member</button>
        <button class="btn btn-primary" ng-click="vm.ClearForm()">Clear</button>
    </form>
    <div class="table-responsive-sm myGrid ui-grid-cell-contents">
        <div ui-grid="vm.GridOptions" class="myGrid table table-hover table-light table-striped table-responsive-sm ui-grid-resize-columns"  id="GridMember"></div>
    </div>
</div>