﻿<style>
</style>

<div class="Content was-validated">
    
    <h2>Users recap</h2>
       
    <div class="table-responsive myGrid">
        <div ui-grid="vm.GridOptions" id="GridUser" class="table-responsive-lg table table-hover table-light table-striped ui-grid-auto-resize"></div>
    </div>
</div>